.all-projects {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.project {
    width: 70%;
    margin-bottom: 100px;
}



.project i {
    color: green;
    font-size: 120%;
    cursor: pointer;
    margin: 4px
}

.project .fa-trash-o {
    color: red;
}


.project .fa-plus {
    font-size: 70%;
}

.project .fa-minus {
    font-size: 70%;
}

.project button {
    width: 100px;
    margin: 5px;
    position: relative;
    right: 0;
}


.project input {
    border: 2px solid green;
}