.all-projects {
    margin-top: 100px;
    margin-left: 250px;
}

.project {
    min-width: 400px;
    margin-bottom: 100px;
    padding-left: 20px;
    border-left: 5px solid green;
}

.project-red {
    border-left: 5px solid red;
}


.project i {
    color: green;
    font-size: 120%;
    cursor: pointer;
    margin: 4px
}

.project .fa-trash-o {
    color: red;
}


.project .fa-plus {
    font-size: 70%;
}

.project .fa-minus {
    font-size: 70%;
}

.project button {
    width: 100px;
    margin: 5px;
    position: relative;
    right: 0;
}


.project input {
    border: 2px solid green;
}