/* .user-display {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 30px;
}

.user-display button {
    width: 70%;
    margin: 3px;
}

.user-display .delete {
    background: red;
}

.users-display {
    max-width: 60%;
    margin-left: 300px;
    margin-top: 70px
} */