.user-display {
    width: 250px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.user-display button {
    width: 70%;
    margin: 3px;
}

.user-display .delete {
    background: red;
}

.users-display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: 70px
}